<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CINEMA_TICKETING_SYSTEM_FINAL.My.MySettings.MOVIE_DATAConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\User\OneDrive\Documents\MOVIE_DATA.accdb"
            providerName="System.Data.OleDb" />
        <add name="CINEMA_TICKETING_SYSTEM_FINAL.My.MySettings.MOVIE_DATAConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\MOVIE_DATA.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>